html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* additional styles */
/* block - begin */
.ad-details {
    display: flex;
}
.ad-details__img {
    max-width: 720px;
}
.ad-details__img > .ad-details__img-lg > img {
    max-width: 100%;
}
.ad-details__img > .ad-details__img-sm {
    margin-top: 16px;
}
.ad-details__info {
    margin-left: 24px;
}
.ad-details__name {
    color: #4cae4c;
}
.ad-details__prop:not(:first-child) {
    margin-top: 8px;
}
.ad-details__prop > span:first-child {
    display: inline-block;
    min-width: 100px;
    font-size: 18px;
    font-weight: 500;
}
.ad-details__prop > span:last-child {
    font-size: 18px;
    color: #c7254e;
}
.ad-details__props:not(:first-child) {
    margin-top: 8px;
}
.ad-details__props .ad-details__props-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}
.ad-details__props .ad-details__props-items > span {
    display: block;
}
.ad-details__props .ad-details__props-items > span:not(:first-child) {
    margin-top: 4px;
}
/* block - end */
/* block - begin */
.ad-list-item {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #f5f5f5;
}
.ad-list-item__img {
    margin-right: 24px;
}
.ad-list-item__info {
    flex-grow: 1;
}
.ad-list-item__link {
    display: inline-block;
}
/* block - end */
/* media - begin */
@media (max-width: 768px) {
    .ad-details {
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .ad-details__img {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .ad-details__img {
        width: unset;
    }
}
/* media - end */
